body {
	margin: 0px;
	overflow-x: hidden;
	background-color: black;
	user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

@font-face {
    font-family: lemonmilk;
    src: url("./fonts/LemonMilk.otf") format("opentype");
}

@font-face {
    font-family: montserratlight;
    src: url("./fonts/Montserrat-Light.otf") format("opentype");
}

#top-buttoncontainer {
	position: absolute;
	bottom: calc(25vh + 10px);
	width: 100%;
	text-align: center;
	user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	background-color: black;
	transition: 0.4s;
	pointer-events: none;
	opacity: 0;
}

#navbar-desktoplike {
	height: 30px;
	overflow: hidden;
	border: none;
	float: left;
	width: 100px;
	margin-left: 10px;
	margin-top: 10px;
	z-index: 10;
	position: relative;
}

#top-title {
	color: white;
	font-family: lemonmilk;
	letter-spacing: 0.05em;
	text-align: center;
	font-size: 4em;
	position: relative;
	bottom: 20px;
	user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	
}

#top-titlecontainer {
	line-height: 80vh;
	position: absolute;
	width: 100%;
}

#top-button {
	background-color: red;
	display: inline-block;
	cursor: pointer;
	transition: 0.2s;
	width: 140px;
	text-align: left;
	overflow: hidden;
	height: 50px;
	line-height: 50px; 
}

#top-button span {
	color: white;
	margin: 0px;
	font-family: lemonmilk;
	font-size: 2em;
	width: 140px;
	text-align: center;
}

#top-buttonspan {
	width: 140px;
	text-align: center;
	position: relative;
	z-index: 1;
}

#top-buttonimg {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 0px;
	right: calc(50% - 70px);
	opacity: 0;
	pointer-events: none;
	transition: 0.2s;
}

#top-buttonimg img {
	width: 26px;
	position: relative;
	top: 8px;
	left: 6px;
	transition: 0.1s;
}

#top-button:hover {
	width: 180px;
}

#top-button:hover #top-buttonimg {
	right: calc(50% - 180px / 2);
	opacity: 1;
	transition: 0.5s;
}